<!DOCTYPE html>
html(lang="es")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Cartoneria | F&L
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(rel='stylesheet' href='/css/style.css')
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet")
    body
        include ../partials/navigation
        
        // Agregamos nuestro template
        block content
                
        include ../partials/footer
        

        
            
